<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sistema de Controle de Receitas</title>
</head>
<body>
  <center>
    <h1>Sistema de Controle de Receitas</h1>
    <a href="usuarioCreate">
      <button>Cadastrar Usuario</button>
    </a>
    <a href="usuarioList">
      <button>Listar Usuarios</button>
    </a>
    <a href="comentarioCreate">
      <button>Cadastrar Comentario</button>
    </a>
    <a href="comentarioList">
      <button>Listar Comentarios</button>
    </a>
    <br><br>
    {{body}}
  </center>
</body>
</html>