<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sistema de Controle de Receitas</title>
</head>
<body>
  <center>
    <h1>Sistema de Controle de Receitas</h1>
    <br><br>
    {{{body}}}
  </center>
</body>
</html>